upstream api_app {
    server api:8000;
}

server {
    listen 80;
    server_name ${NGINX_SERVER_NAME};

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml;

    location / {
        include /etc/nginx/snippets/proxy_params.conf;
        proxy_pass http://api_app;
    }
}
